<div class='container'>
  <h2>Index</h2>
  <!-- search -->

  <div class="input-group mb-3" style="width: 20rem;">
    <input [(ngModel)]="searchText" aria-describedby="button-addon2" aria-label="Search" class="form-control"
           placeholder="Search within all versions" type="text">
    <div class="input-group-append">
<!--       todo keyup.enter to search not working?-->
      <button (keyup.enter)="doSearch()" (click)="doSearch()" class="btn btn-outline-primary" id="button-addon2" type="button">Search</button>
    </div>
  </div>

  <!-- list of poems -->
  <div class="container">
    <div class="row card-group">
         <div *ngFor="let item of indexList" class="col-md-3 d-flex align-items-stretch">
           <div class="card" >
             <div class="card-header text-center">
               <H3>{{item.poemID}}</H3>
             </div>
             <div class="card-body d-flex flex-column text-center">
               <img [src]="'../../assets/thumbnails/'+item.poemID+'.jpg'" class="card-img-top" (click)="routeVersions(item.poemID)">

              <p>Author: <a href="http://poetry.ncl.ac.uk/moniza-alvi/">   {{item.author}}</a></p>
              <p>Versions: {{item.versions}}</p>
               <div class="mt-auto text-center">
                   <button  type="button" class="btn btn-primary" (click)="routeVersions(item.poemID)">View Versions</button>
               </div>
            </div>
          </div>
        </div>
      </div>
<!--    todo display 'no results found'-->
      </div>

</div>
