
<div class='content-box'>
    <h2>Index</h2>
    <!-- search -->
    <mat-form-field>
        <input matInput type="text" (keyup)="doSearch($event.target.value)" placeholder="Search">
    </mat-form-field>
            
    <!-- list of poems -->
    <div *ngFor="let item of indexList">
        <div class='repeat-item-box' (click)="routeVersions(item.poemID)" >
            <div class="img-box">
                <p>thumbnail image here</p>
            </div>
            <div class="text-box">
                <p>Id: {{item.poemID}}</p>  
                <p>Author: {{item.author}}</p>
                <p>Versions: {{item.versions}}</p>
            </div>
        </div>
    </div>

</div>