#xml-view-panel {
    width: 45%;
    float: left;
}
#img-view-panel {
    width: 50%;
    float: right;
}

.page-nav-buttons {
    
}

:host ::ng-deep .pdfViewer .page .canvasWrapper {
    height: auto;
}
:host ::ng-deep .pdfViewer .page .TextLayer {
    height: auto;
}
:host ::ng-deep .pdfViewer .page {
    height: auto;
}