<div class='content-box'>
  <h2>Spine Index Example</h2>


  <div class="text-box">
    <p>Line ID: M1.20 </p>
    <p>Text: in the journey of an ant</p>
    <br/>
  </div>

  <button (click)="getMatchingLines()">Get matching lines</button>

  <!-- list of lines -->
  <div *ngFor="let item of linesWithTextList">
    <div class='repeat-item-box' >
      <div class="text-box">
        <p>Line ID: {{item.lineID}}</p>
        <p>Text: {{item.text}}</p>
        <br/>
            </div>
            <br/>
          </div>
        </div>
      </div>

