<div class='container'>
  <h2>Versions of {{id}}</h2>
  <br/>
  <div *ngIf="(compareList.length>0)">
    <p>Choices: <span *ngFor="let choice of compareList">   {{choice}}</span>
      <br/>
      <button type="button" class="btn btn-primary" (click)="comparePoems()">Compare Selected</button>
    </p>
  </div>

  <!-- list of versions -->
  <div class="container">
    <div class="row card-group">
      <div *ngFor="let item of versionList" class="col-md-3 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header text-center">
            <H3>{{item.versionTitle}}</H3>
          </div>
          <div class="card-body d-flex flex-column">
            <div class="text-center">
              <img [src]="'../../assets/thumbnails/'+item.versionID[0].idno[0]._+'.jpg'" class="card-img-top"
                   style="max-width: 60%">
              <br/>
            </div>
            <p>Author: {{item.author}}</p>
            <p>Type: {{item.type}}</p>
            <p *ngIf="(item.source != '')"> Source: {{item.source}}</p>
            <p>Changes: {{item.changes}}</p>
            <div class="mt-auto">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" (click)="addToCompare(item.versionID[0].idno[0]._)">Add to
                  Compare
                </button>
                <button type="button" class="btn btn-primary" (click)="routeView(item.versionID[0].idno[0]._)">View
                  Poem
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--  Link to vimeo for Alvi-->
      <div *ngIf="id==='Alvi1'" class="col-md-3 d-flex align-items-stretch">
        <div class="card">
          <div class="card-header text-center">
            <H3>Must We Go?</H3>
          </div>
          <div class="card-body d-flex flex-column">
            <div class="text-center">
              <img (click)="goToLink('https://vimeo.com/116389542')" [src]="'../../assets/thumbnails/video.png'" class="card-img-top" style="max-width: 60%">
              <p>Author: Moniza Alvi</p>
              <p>Type: Video</p>
              <p>Source: ncla on Vimeo</p>

                  <button type="button" class="btn btn-block btn-primary video-button" (click)="goToLink('https://vimeo.com/116389542')">View
                    Video
                  </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
