/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-primary {
  background-color: #DF8803 !important;
  border: #DF8803 !important;
}

a {
  color: #DF8803 !important;
}
.btn-outline-primary {
  background-color: #DF8803 !important;
  border: #DF8803 !important;
  color: black!important;
}

.top-bar {
  color: #DF8803 !important;
}

.header {
    margin-left: 10%;
    margin-top: 2%;
}
.content-box {
    margin-left: 10%;
    margin-top: 2%;
}

.nav-menu {
  margin-bottom: 30px;
}
.card {
  margin-top: 20px;
  margin-bottom: 20px;
}
.repeat-item-box {
    border: 2px solid black;
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.text-box{
    width: 70%;
    order: 2;
    margin-left: 2%;
}

.img-box{
    width: 20%;
    order: 1;
}

.cards{
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.card-title{
  text-align:center;
}


.underline {
  text-decoration: underline;
}

.right {
  float:right;
  padding-right: 200px;
}

.centre-right {
  float: right;
  padding-right: 300px;
}

.centre-left {
  float: right;
  padding-right: 400px;
}

.italic {
  font-style: italic;
}

span {
//----Different hands
  .change-b {
    color: gray;
  }
  .change-c {
    color: dimgrey;
  }
  .change-a {
    color: blue;
  }



  &.add {
    font-size: .83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }

  &.del {
      text-decoration: line-through;
    //todo ideally find a way to retain original text colour and have the strikethrough the colour determined byt the change letter (above)
    }
  &.linenumber {
    font-size:70%;
    float:right;
    padding-right: 70px;
  }

//Margin additions
.margin {
  float: left;
  margin-left:-20px;
}

&.add.caret.above:before {
  content: '';
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-right: -10px;
  margin-top: 30px;
  margin-bottom: -10px;
}

  //-----------------Metamarks

  &.metamark {
    font-family: "cursive";
    //Where there is text '[Metamark] this is hidden and replaced with new content
    //display:none; means there's no space where 'Metamark' would be displayed, but it hides the additional content displayed below whereas visibility leaves a gap todo solve3
    visibility:hidden;


    &.caret:before {
      visibility: visible;
      position: absolute;
      content: '';
      border: solid black;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      margin-right: -10px;
      margin-top: 30px;
      margin-bottom: -10px;
    }


    &.arrow:after {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      content: '\01F823';
    }


      //para in brackets
      &.parenthesis:before {
        visibility: visible;
        position: absolute;
        content: '(';
      }

    //additions above text
    &.above {
      vertical-align: baseline;
      position: relative;
      top: -0.1em;
    }


    &.line:before {
      visibility: visible;
      content: '-';
      line-height: 0.5em;
      vertical-align: baseline;
      position: relative;
      top: -0.1em;
    }

    //tick
    &.tick:before {
      visibility: visible;
      position: absolute;
      content: '\2713';
      display:unset;
    }

    //additions below text
    &.below {

      position: relative;
      float: right;
    }

//todo how to tell whether it should be opening or closing parenthesis?
    ////para in brackets (closing)
    //&.margin.parenthesis.change-a:after {
    //  visibility: visible;
    //  position: absolute;
    //  content: ')';
    //}

  }
//asterisks
  &.asterisk:before {
    visibility: visible;
    position: absolute;
    content: "*";
  }
  //circle around text
  &.hi.circle {
    visibility: visible;
    //position: absolute;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid;
    text-align: center;
    position: relative;
   float: right;
  }

//----Notes
  &.note {
    font-size: .83em;
    line-height: 0.9em;
    vertical-align: baseline;
    position: relative;
    font-style: italic;
    font-family: "cursive";
    &.above {
top: -0.8em;
    }
    &.below {
      top: 0.8em;
      right: 0.9em;
    }
    //margin notes
    &.margin {
      visibility:visible;
      float: right;
      display:unset;
    }
    //todo TEMPORARY override of previous changes to bootstrap standard--- fix HTML otherwise this tag gets applied to lots of lines in P3 page 2
    &.alternative.margin.change-b {
      font-size: 1rem;
      line-height: 1.5;
      vertical-align: initial;
      position: initial;
      font-style:initial;
      font-family: "Segoe UI";
      text-align:left;
      display:block;
      float: none;
    }
  }




  &.add.left {
    margin-left: -40px;
  }

    //-----editor supplied text
&.supplied > *{
  font-style:italic;
}
  &.supplied {
    font-style:italic;
  }
  &.supplied.previous-deletion{
    font-style:italic;
  }

  &.unclear {
    color:darkslategrey;
    font-style: italic;
  }
}


.head.underline {
  text-decoration: underline;
}


  //don't display page number
span.pb-open, span.pb-value, span.pb-close {
  visibility:hidden;
}

div {
  &.bodyDiv {
    margin-left: 80px;
  }

  //indexes
  &.column {
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  &.div.poem {
    position:relative;
  }

}

//make xml view panel level with text start in pdf
#xml-view-panel {
padding-top: 80px;
}
