/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header {
    margin-left: 10%;
    margin-top: 2%;
}
.content-box {
    margin-left: 10%;
    margin-top: 2%;
}

.nav-menu {
  margin-bottom: 30px;
}
.card {
  margin-top: 20px;
  margin-bottom: 20px;
}
.repeat-item-box {
    border: 2px solid black;
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.text-box{
    width: 70%;
    order: 2;
    margin-left: 2%;
}

.img-box{
    width: 20%;
    order: 1;
}

.cards{
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.card-title{
  text-align:center;
}

//changes to the text
span {
  &.add {
    font-size: .83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }

  &.del {
      text-decoration: line-through;
    }
  &.linenumber {
    font-size:70%;
    float:right;
    padding-right: 70px;
  }
&.add.caret.above:before {
  content: '';
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-right: -10px;
  margin-top: 30px;
  margin-bottom: -10px;
}
  &.metamark.caret.change-b:before{
    content: '';
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 30px;
    margin-bottom: -10px;
  }
  &.metamark.arrow.change-b:before {
    //todo improve on this metamark and remove '[Metamark]' from html
    content: '\01F823';
  }
  &.metamark.arrow:before {
    //todo improve on this metamark and remove '[Metamark]' from html
    content: '\01F823';
  }
  //para in brackets
  &.metamark.margin.parenthesis.change-b:before {
    content: '(';
    margin-left:-20px;
  }
  //tick in margin
  &.metamark.margin.tick.change-c:before {
    content: '\2713';
    margin-left:-20px;
  }
  //line above text
  &.metamark.above.line.change-b:before {
    content: '-';
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.1em;
  }
  //tick above text
  &.metamark.above.tick.change-b:before {
    content: '\2713';
    vertical-align: baseline;
    position: relative;
    top: -0.1em;
    //left:-10px;
  }
  //tick below
  &.metamark.below.tick.change-c:after {
    content: '\2713';
    position: relative;
    float: right;
  }
  //para in brackets (closing)
  &.metamark.margin.parenthesis.change-a:after {
    content: ')';
      }
  //word below another
    &.note.alternative.below.change-b {
      font-size: .83em;
      line-height: 0.5em;
      vertical-align: baseline;
      position: relative;
      top: 0.8em;
      right:0.9em;
    }
  //word below another
  &.note.below.change-a {
    font-size: .83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: 0.8em;
    right:0.9em;
  }
  &.metamark.above.asterisk.change-a:before {
    content: "*";
    vertical-align: baseline;
    position: relative;
    top: -0.1em;
  }
  //circle around text
  &.hi.circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid;
    text-align: center;
    position: relative;
   float: right;
  }

//margin notes
  &.note.margin.change-c.editor {
    font-size: .83em;
    font-style: italic;
    float:right;
    transform: rotate(-6deg);
  }
  //underline
  &.hi.underline {
    text-decoration: underline;
  }
  &.add.left.change-b {
    margin-left: -40px;
  }
  //indicates text supplied by the editor
&.supplied > *{
  font-style:italic;
}
  &.supplied.previous-deletion{
    font-style:italic;
  }
  //don't display page nunmber

  &.unclear {
    color:darkslategrey;
  }
}

.head.underline {
  text-decoration: underline;
}

//unsure what these represents so ignore for now
.pb {
  visibility: hidden;
}

span.pb-open, span.pb-value, span.pb-close {
  visibility:hidden;
}

div {
  &.bodyDiv {
    margin-left: 80px;
  }

  //indexes
  &.column {
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  &.div.poem {
    position:relative;
  }

}

//make xml view panel level with text start in pdf
xml-view-panel {

}
